* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Definir colores */
  --primary-color: #BF8F36;
  --secondary-color: #AE976C;
  --hover-color: #6C4C0C;
  --white--color: #ffffff;
  /* Definir fuentes */
  --primary-font: "Inter", sans-serif;
  --titles-font: "Montserrat", sans-serif;
  --logo-font: "Baloo 2", sans-serif;
  /* Definir pesos */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

body {
  background-color: var(--primary-color)
}

/** Fuentes -> */

.baloo-2-bold{
  color: var(--primary-color);
  font-family: var(--logo-font);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  margin: 0;
}

.inter-regular{
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

.inter-medium{
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-medium);
  font-style: normal;
}

.inter-bold {
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
  color: var(--secondary-color);
}

.montserrat-medium {
  font-family: var(--titles-font);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-medium);
  font-style: normal;
}

.montserrat-bold {
  font-family: var(--titles-font);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

.montserrat-extra-bold {
  font-family: var(--titles-font);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-extra-bold);
  font-style: normal;
}

/** <- Fuentes */


/** Colores -> */
.text-primary {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

.text-hover {
  color: var(--hover-color) !important;
}

.text-opacity {
  opacity: 0.8;
}

/** Colores <- */

/** Navbar -> */

.navbar {
  z-index: 9;
  right: 0;
  left: 0;
}

.nav-logo {
  padding-right: 10px;
}

.logo {
  width: 100px;
  height: 80px;
  overflow: hidden; 
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.links-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.inter-bold:hover{
  color: var(--hover-color);
}

.icons {
  fill: var(--secondary-color);
}

.icons:hover {
  fill: var(--hover-color);
}

/** <- Navbar */

/** Inicio -> */

.texto-inicio {
  display: flex;
  align-items: center;
}

.rounded-image {
  border-radius: 15px;
}

.fs-0 {
  font-size: calc(2rem + 1.75vw) !important;
}

.btn-inicio{
  background: var(--hover-color);
  font-family: var(--primary-font);
  font-weight: 700; /* Bold */
  color: white;
  display: inline-block;
  padding: 10px 35px;
}

.btn-inicio:hover{
  background: #E5E4E5;
  color: var(--hover-color);
  
}

.linea-continua {
  border: none;
  border-top: 2px solid var(--hover-color);
  margin: auto auto;
  width: 100%;
}

.linea-media {
  border: none;
  border-top: 2px solid var(--hover-color);
  margin: auto auto;
  width: 50%;
}

/** <- Inicio */

/** Servicios -> */

.section-padding {
  padding-top: 120px;
} 

.formulario {
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  gap: 10px; /* Espacio entre los radio buttons */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas si es necesario */
}

.radio label {
  margin-left: 5px;
  margin-right: 15px;
}


.formulario input[type="radio"] {
  display: none;
}

.formulario .radio label {
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: 600; /* Semi Bold */
  font-style: normal;
  color: var(--white--color);
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3 ease;
}

.formulario .radio label:hover {
  background: rgba(12, 8, 1, 0.2);
}

.formulario input[type="radio"]:checked + label {
  background: var(--white--color);
  color: var(--hover-color);
}
.serviciosmobile {
  display: none;
}

.button-hover {
  background-color: var(--hover-color);
}

/** <- Servicios */


/** Experiencia -> */

.overlay {
  position: relative;
  padding: 50px 0;
  color: var(--white--color);
}

.overlay::before {
  content: "";
  background-image: url('/public/images/comentarios.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.overlay::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.overlay .container {
  position: relative;
  z-index: 3;
}

.scroll-container {
  display: flex;
  max-height: 400px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.scroll-inner {
  display: flex;
  padding-bottom: 20px;
}

.testimonial-card {
  background-color: rgba(191, 143, 54, 0.5);
  color: var(--white--color);
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
  min-width: 200px;
  max-width: 300px;
  flex: 0 0 auto;
  display: inline-block;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  width: 5%;
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  width: 50px; 
  height: 50px;
  left: -50px; 
}

.custom-prev {
  left: -5%; 
}

.custom-next {
  right: -5%;
}

commentsmobile {
  display: none;
}

/** Contacto */

.icon-ins {
  background-color: #eb0790;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.icon-ins:hover {
  background-color: #c70579;
  color: white;
}

.ubi {
  margin-top: 15px;
  height: 15rem;
}


/** <- Experiencia */

/** Footer -> */

.footer {
  background-color: #ffffff;
  padding: 20px 0;}

.inter-footer{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular */
  font-style: normal;
  color: #6C4C0C;
  opacity: 0.8;
}


/** <- Footer */


/** Pantallas pequeñas (Teléfonos) */
@media only screen and (max-width: 600px) {

  /* Nav */

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 50px;
    height: auto;
  }

  .baloo-2-bold {
    font-size: 90%;
  }

  .container-sm {
    flex-wrap: nowrap !important; 
  }

  .mt-5 {
    margin-top: 1rem !important;
  }

  .fs-0 {
    font-size: calc(1.8rem + 1.75vw) !important;
  }

  .mb-5 {
    margin-bottom: 1rem !important;
  }

  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  .center {
    justify-content: center;
  }
  
  .fs-4 {
    font-size: 1rem !important;
  }


  .btn-inicio {
    padding: 10px 25px;
  }

  .servicios {
    display: none;
  }

  .serviciosmobile {
    display: initial;
  }

  comments {
    display: none;
  }

  commentsmobile {
    display: inherit;
  }

  .scroll-container {
    max-height: 250px;
  }

  .testimonial-card {
    min-width: 180px;
    max-width: 250px;
  }

  .section-padding {
    padding-top: 60px;
  }

  .fs-5 {
    font-size: 1rem !important;
  }

  .fs-1 {
    font-size: 1.25rem !important;
  }

  #acerca h2 {
    text-align: center;
  }

  #acerca p {
    text-align: center;
  }
  .row {
    flex-direction: column;
  }
  .col-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .rounded-image {
    width: 100%;
    height: auto;
  }

  #contacto span {
    display: none;
  }

  #contacto .center {
    justify-content: space-around;
  }

  #contacto .col-4 {
    width: 100%;
  }

  #contacto .col-8 {
    width: 100%;
  }

  .ubi {
    margin-bottom: .5rem !important;
  }



}

/** Pantallas medianas (Tabletas) */
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .navbar {
    justify-content: space-between;
  }

  .links-left {
    justify-content: center;
  }

  .baloo-2-bold {
    font-size: 170%;
  }

  .mb-5 {
    margin-bottom: 1.5rem !important;
  }

  .btn-inicio {
    padding: 10px 30px;
  }

  .montserrat-extra-bold {
    font-size: calc(1.75rem + 1.5vw);
  }

  .servicios {
    display: none;
  }

  .serviciosmobile {
    display: initial;
  }

  .scroll-container {
    max-height: 300px;
  }

  .testimonial-card {
    min-width: 200px;
    max-width: 270px;
  }

  .section-padding {
    padding-top: 90px;
  }

  #acerca h2 {
    text-align: center;
  }

  #acerca p {
    text-align: center;
  }
  
  #acerca .row {
    flex-direction: column;
  }
  .col-6 {
    width: 100%;
    margin-bottom: 20px;
  }

  .rounded-image {
    width: 100%;
    height: auto;
  }

  #contacto span {
    display: none;
  }

  #contacto .center {
    justify-content: space-around;
  }

  #contacto .col-4 {
    width: 100%;
  }

  #contacto .col-8 {
    width: 100%;
  }

  .ubi {
    margin-bottom: .5rem !important;
  }

}

/* Pantallas grandes (Desktop) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .navbar {
    justify-content: space-between;
  }

  .links-left {
    justify-content: space-between;
  }

  .baloo-2-nav {
    font-size: 180%;
  }

  .texto-inicio {
    flex-direction: row;
    text-align: left;
  }

  .btn-inicio {
    padding: 10px 35px;
  }

  .montserrat-h2 {
    font-size: calc(2rem + 1.5vw);
  }

  .scroll-container {
    max-height: 350px;
  }

  .section-padding {
    padding-top: 100px;
  }
}
